{{ $classes := "blog-cover cover" }}
{{ $resource := resources.GetMatch .image }}
{{ $title := .context.Title }}

{{ if eq .type "post" }}
    {{ $classes = "post-cover cover" }}
    {{ $resource = .context.Resources.GetMatch .image }}
{{ end }}

{{- with $resource -}}
    <div class="{{ $classes }}">
        {{ $coverS := . }}
        {{ $coverM := . }}
        {{ $coverL := . }}
        {{ $coverXL := . }}

        {{ if ne .MediaType.SubType "svg" }}
            {{ $coverS = .Resize "320x" }}
            {{ $coverM = .Resize "640x" }}
            {{ $coverL = .Resize "960x" }}
            {{ $coverXL = .Resize "1920x" }}
        {{ end }}

        <img srcset="{{ $coverS.Permalink }} 320w,{{ $coverM.Permalink }} 640w,{{ $coverL.Permalink }} 960w,{{ $coverXL.Permalink }} 1920w"
                src="{{ $coverXL.Permalink }}"
                alt="{{ $title }}" />
    </div>
{{- end -}}