{{ $context := .context }}
{{ $classes := "blog-cover cover" }}
{{ $resource := resources.GetMatch .image }}
{{ $title := .context.Title }}
{{ $format := "html" }}

{{ if eq .type "post" }}
    {{ $classes = "post-cover cover" }}
    {{ $resource = .context.Resources.GetMatch .image }}
    {{ $format = .context.Scratch.Get "output-format" }}
{{ end }}

{{- with $resource -}}
    {{ $coverS := . }}
    {{ $coverM := . }}
    {{ $coverL := . }}
    {{ $coverXL := . }}

    {{ $width := 640 }}
    {{ $height := 480 }}

    {{ if ne .MediaType.SubType "svg" }}
        {{ with .Process "webp" }}
            {{ $coverS = .Resize "320x" }}
            {{ $coverM = .Resize "640x" }}
            {{ $coverL = .Resize "960x" }}
            {{ $coverXL = .Resize "1920x" }}

            {{ $width = $coverM.Width }}
            {{ $height = $coverM.Height }}
        {{ end }}
    {{ end }}

    {{- if eq $format "amp" -}}
        <amp-img src="{{ $coverM.Permalink }}"
            width="{{ $width }}"
            height="{{ $height }}"
            alt="{{ $title }}" />
    {{- else -}}
        <div class="{{ $classes }}">
            <img srcset="{{ $coverS.Permalink }} 320w,{{ $coverM.Permalink }} 640w,{{ $coverL.Permalink }} 960w,{{ $coverXL.Permalink }} 1920w"
                    src="{{ $coverXL.Permalink }}"
                    alt="{{ $title }}" />
        </div>
    {{- end -}}
{{- end -}}