<div id="index" class="container">
	<main class="content" role="main">
        {{- $paginator :=  . -}}
        {{- range $paginator.Pages -}}
            <article class="post">
                <div class="inner">
                    <div class="box post-box">
                        <h2 class="post-title"><a href="{{- .RelPermalink -}}">{{- .Title -}}</a></h2>
                        <span class="post-meta">
                            By {{- partial "author.html" . -}}
                            in 
                            {{- if or .Params.categoryTag .Params.tags -}}
                                {{- $category := .Params.catgegory | default ( index ( first 1 .Params.tags) 0 ) -}}
                                {{- with site.GetPage ( printf "/tags/%s" $category ) -}}
                                    <a class="post-meta-tag" href="{{- .RelPermalink -}}">{{- .Title -}}</a>
                                {{- end -}}
                            {{- end -}}
                            on
                            <time datetime="{{- .Date -}}">{{- .Date.Format .Site.Params.dateFormat -}}</time>
                        </span>
                        <p class="post-excerpt">{{- .Summary -}}&hellip;</p>
                    </div>
                </div>
            </article>
        {{- end -}}

        {{- partial "pagination.html" $paginator -}}
	</main>
</div>