<nav class="pagination" aria-label="Pagination">
	<div class="inner">
		<div class="box pagination-box">
			{{- if .HasPrev -}}
			    <a title="Newer Posts" class="pagination-next" href="{{- .Prev.URL -}}"><i class="icon icon-arrow-left"></i> <span class="pagination-label">Newer Posts</span></a>
			{{- end -}}
			<span class="pagination-info">Page {{- .PageNumber -}} of {{- .TotalPages -}}</span>
			{{- if .HasNext -}}
                <a title="Older Posts" class="pagination-prev" href="{{- .Next.URL -}}"><span class="pagination-label">Older Posts</span> <i class="icon icon-arrow-right"></i></a>
			{{- end -}}
		</div>
	</div>
</nav>