<!-- Prism.js syntax highlighting -->
<!-- <script src="/js/libs/prism/prism.min.js"
    integrity="sha512-UOoJElONeUNzQbbKQbjldDf9MwOHqxNz49NNJJ1d90yp+X9edsHyJoAs6O4K19CZGaIdjI5ohK+O2y5lBTW6uQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"></script> -->

<!-- tocbot.js -->
<script src="/js/libs/tocbot/tocbot.min.js"
    integrity="sha512-P4MxNnVYFHmkj6ZlNusCPMjrqfYF7/AWRM0m7vEHkzTITuiW/6LaXk/Ah/mheuPI1xI80it2dP/8Nz+FLJT9MQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>

<script type="text/javascript" src="/js/script.js"></script>

{{ block "scripts" . }}{{ end }}
