# Ansible
*.retry

# Office temp files
~$*

# Terraform
.terraform
.terraform.*
.terraform.tfstate.lock.info
.terraform.lock.hcl
*.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup

# Python
__pycache__

# SQLite
*.sqlite

local.ps1
*.log

# Visual Studio Code
.vscode

# Apple
.DS_Store

# GCE Mapper
gcp/samples/gce-mapper/gce_machineTypes.json

# Hugo
/site/public/
/site/resources/_gen/
/site/assets/jsconfig.json
/site/hugo_stats.json
/site/.hugo_build.lock