# Ansible
*.retry

# Office temp files
~$*

# Terraform
.terraform
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup

# Python
__pycache__

# SQLite
*.sqlite

local.ps1
*.log

# Visual Studio Code
.vscode

# Apple
.DS_Store

# GCE Mapper
gcp/samples/gce-mapper/gce_machineTypes.json
